#the-wrapper {
  background-color: #2e83822b;
  font-family: "Arial", sans-serif;
  display: none;
  /* display: flex; */
  flex-direction: column;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}


.confirmation-container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  color: #333;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 20px;
}

.button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}
